## .NET build outputs
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.userprefs
*.user.scproj

## Visual Studio
.vs/
*.vsidx
.vsconfig
.vs3config

## JetBrains Rider / ReSharper
.idea/
*.DotSettings.user
_ReSharper*/

## Visual Studio Code
.vscode/
*.code-workspace

## Misc
*.log
.DS_Store
Thumbs.db